.catalog-text-container {
  border-top: 1px solid $catalog-border;
  border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet) {
    border: 0;
  }
}

.catalog-product__title {
  @include hero-title;
  margin: 0;
  padding: 26px 23px 40px 0;
  color: $title-color;

  @media (min-width: $tablet) {
    padding: 64px 30px 95px;
  }
}
