.catalog-list-add {
  list-style: none;

  &--value {
    text-align: right;

    @media (min-width: $tablet) {
      padding-left: 47px;
    }
  }
}

.catalog-list-add__table {
  width: 100%;
  margin: 10px 0 12px;

  @media (min-width: $tablet) {
    width: auto;
    max-width: 50%;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 17px;
  }
}

.catalog-list-add__item {
  padding-bottom: 18px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 24px 37px 28px 38px;
    border: 1px solid $border-color;
  }
}

.catalog-list-add__subtitle {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 400;
  margin: 13px 0 10px;

  @media (min-width: $tablet) {
    // margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 26px;
  }
}

.catalog-list-add__button {
  padding: 10px 44px;
  font-size: 16px;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.catalog-list__button {
  @include button-state;
}

.catalog-list-add-cinco {
  @media (min-width: $tablet) {
    padding-right: 10px;
  }
}
