.extra-button {
  @include form;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 0 21px;

  @media (min-width: $tablet) {
    flex-direction: row;
    column-gap: 123px;
    row-gap: 32px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    row-gap: 0;
    column-gap: 81px;
    margin: 0 auto;
  }
}

.extra-button__label {
  position: relative;
  display: block;
  padding: 5px 45px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 221px;
    padding: 5px 0 5px 59px;
  }

  @media (min-width: $desktop) {
    width: 244px;
  }
}

.extra-button__span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $border-radio;
  }

  &:disabled {
    border: 1px solid $border-radio;
    opacity: 0.3;
  }
}

.extra-button__input[type="checkbox"]:checked + .extra-button__span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("/img/all-svg/check-checkbox.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
