.form-button-span {
  @include form;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 31px;
  padding: 0;

  @media (min-width: $tablet) {
    column-gap: 59px;
    margin-top: 53px;
    margin-bottom: 60px;
    flex-direction: row;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    column-gap: 80px;
    margin-bottom: 80px;
    margin-top: 61px;
    padding: 0;
  }
}
