.main-hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background-color: $bg-header;
    z-index: -1;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: contain;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.main-hero__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 37px;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop) {
    padding: 0 79px;
    row-gap: 38px;
    height: 570px;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background-color: $text-color;
    z-index: -2;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: contain;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.main-hero__title {
  @include hero-title;

  margin: 0 auto 25px;
  padding-top: 27px;
  order: 1;


  @media (min-width: $tablet) {
    margin-bottom: 42px;
    margin-left: 90px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-top: 77px;
  }
}

.main-hero__subtitle {
  @include hero-subtitle;

  order: 2;

  @media (min-width: $tablet) {
    width: 420px;
    margin-bottom: 49px;
    margin-left: 89px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.main-hero__picture {
  order: 4;
  padding-top: 20px;

  @media (min-width: $tablet) {
    margin: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 30px;
    padding: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    transform: translate(-20%, 4%);
    position: inherit;
  }
}

.main-hero__image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 270px;
  transform: translate(-3%, 3%);

  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
    transform: translate(-4%, 0%);
  }

  @media (min-width: $desktop) {
    width: 552px;
    height: 499px;
    transform: translate(2%, 0%);
  }
}

.main-hero__hero-button {
  @include button-main;

  margin: 0 20px;
  order: 3;
  margin-top: 12px;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-left: 90px;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-top: 15px;
  }

  &:hover,
  &:focus {
    background-color: $btn-hover;
  }

  &:active {
    background-color: $btn-hover;
    color: $btn-color;
  }
}
