.main-footer {
  background-color: $card-color;
}

.main-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 59px 30px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 66px 110px 70px;
  }

  &--index {
    @media (min-width: $desktop) {
      padding: 66px 110px 70px;
    }
  }

  &--form {
    @media (min-width: $tablet) {
      padding: 55px 30px 59px 30px;
    }

    @media (min-width: $desktop) {
      padding: 65px 110px 59px 109px;
    }
  }
}

.main-footer__logo-container {
  text-align: center;
  padding: 36px 0 19px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.main-footer__svg {
  display: block;
  color: $cat-energy;
  transition: color 0.3s ease;

  &--cat-energy {
    &:hover,
    &:focus {
      color: $cat-energy-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
