.main-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: $card-color;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 57px 29px 57px 31px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 71px 109px 70px;
  }
}

.main-footer__logo-container {
  text-align: center;
  padding: 40px 0 20px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.main-footer__svg--cat-energy {
  display: block;
  color: $cat-energy;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: $button-color;
  }

  &:active {
    opacity: 0.3;
  }
}
