.program-selection {
  padding: 0 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: $oswald;
}

.program-selection-container {
  font-size: 14px;
  color: $title-color;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: initial;
  margin: 27px 0 37px;
}

.program-selection__subtitle {
  margin: 0;
}
