.social {
  margin: 0;
  padding: 17px;
  border-top: 1px solid $border-line;
  border-bottom: 1px solid $border-line;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
    margin-left: 37px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 24px;
  flex-wrap: wrap;
}

.social__link {
  color: $example-slider;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: $button-color;
  }

  &:active {
    opacity: 0.3;
  }
}
