*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  color: $text-color;
  background-color: $bgcolor;
  font-family: $lato;
  overflow-wrap: anywhere;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}
