// color
$bgcolor: #ffffff;
$card-color: #f2f2f2;
$text-color: #444444;
$title-color: #000000;
$text-color2: #ffffff;
$button-color: #68B738;
$example-color: #eaeaea;
$border-color: #cdcdcd;

// fonts
$lato: "Lato", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;

// devices
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
