// color
$bgcolor: #ffffff;
$card-color: #f2f2f2;
$text-color: #444444;
$title-color: #000000;
$text-color2: #ffffff;
$button-color: #68b738;
$example-color: #eaeaea;
$border-color: #cdcdcd;
$border-line: #d9d9d9;
$border-nav: #e6e6e6;
$catalog-border: #ebebeb;
$form-input: #e7e7e7e7;
$bg-header: rgba(104, 183, 56, 0.85);
$btn-hover: #5eaa2f;
$btn-color: rgba(255, 255, 255, 0.3);

// fonts
$lato: "Lato", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;
